
.input-group-vertical 
{
  margin-bottom: 10px;
}
.form-control
{
    border-radius: 0;
    height:43px
}
.form-group
{
    margin-top:0;
    margin-bottom: 0;
    
}
.form-group:first-child .form-control 
{
    height:45px;
    border-top-right-radius: 5px;
}
.form-group:last-child .form-control 
{
    height:45px;
    border-bottom-right-radius: 5px;
    
}


.input-group
{
    margin-bottom: -1px;
    border-radius: 0;
    

}

.input-group-addon
{  
    border-radius: 0;
}
.form-group:first-child .input-group-addon
{

    border-top-left-radius: 5px;

}
.form-group:last-child .input-group-addon
{
    border-bottom-left-radius: 5px;
    
   
}

.form-group:last-child .input-group
{
    
    border-bottom-left-radius: 5px;
     
   
}
.gender
{
    height:45px;
    line-height:45px;
    padding-left:8px;
    border:1px solid #d0d0d0;
    color:	#9D9D9D;

    
}
.gender .form-control
{
    font-size:50px;
}
